{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="posts-view">
        <h1 id="post-title">All Posts</h1>
        {% if user.is_authenticated %}
            <div id="new-post">
                <h4>New Post</h4>
                <form id="new-post-form">
                    {% csrf_token %}
                    <textarea class="form-control" rows="4" id="post-body"></textarea>
                    <input type="submit" class="btn btn-primary" value="Post"/>
                </form>
            </div>
        {% endif %}
        
        <div id="all-posts">
            {% for post in posts %}
                <div class="single-post">
                    <div class="post-sender"><h5><b>{{post.user}}</b></h5></div>
                    <div class="post-body">{{post.body}}</div>
                    <div class="post-timestamp"><span>{{post.timestamp}}</span></div>
                    <div class="likes">{{post.likes}}</div>
                </div>
            {% endfor %}
        </div>
 

        <nav>
            <ul class="pagination justify-content-center">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}

                {% if posts.paginator.num_pages > 1 %}
                    <li class="page-item disabled"><a class="page-link" href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}