{% extends "network/layout_pages.html" %}
{% load static %}

{% block body %}

    <div id="posts-view">
        <h1 id="post-title">All Posts</h1>
        {% if user.is_authenticated %}
            <div id="new-post">
                <h4>New Post</h4>
                <form id="new-post-form">
                    {% csrf_token %}
                    <textarea class="form-control" rows="4" id="post-body"></textarea>
                    <input type="submit" class="btn btn-primary" value="Post"/>
                </form>
            </div>
        {% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}