{% extends "network/layout_pages.html" %}
{% load static %}

{% block body %}

    <div id="user_profile">
        <h1><b id="profile_username">{{ UserProfile.username }}</b></h1>
        <div class="follow"><b>{{ following }} </b><span>Following</span></div>
        <div class="follow"><b>{{ followers }} </b><span>Followers</span></div>
        {% if user.is_authenticated and UserProfile != request.user %}
            <div>
                <form id="my-form" method="POST" action="{% url 'user_profile' username=UserProfile.username %}">
                    {% csrf_token %}
                    {% if state == "following" %}
                        <input type="submit" id="to-unfollow" value="Unfollow" name="to-unfollow" class="btn btn-primary">
                    {% elif state == "not_following" %}
                        <input type="submit" id="to-follow" value="Follow" name="to-follow" class="btn btn-primary">
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>
    <hr>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}