{% extends "type_speed/layout.html" %}
{% load static %}

{% block body %}

   <h1>Typing Speed Test</h1><br>
   <div id="text-selection">
    <div class="container mt-3">
        <h2>Choose a Text</h2>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered">
        <thead>
            <tr>
            <th>Author</th>
            <th>Title</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for text in texts %}
                <tr id="{{ text.id }}">
                    <td data-search="{{ text.user }}">{{ text.user }}</td>
                    <td class="title-row" data-search="{{ text.title }}">
                        {{ text.title }}
                        <button class="btn btn-primary" onclick="load_text('{{ text.id }}')">Select</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>    
    </div>
  </div>

   <div id="speed-test" style="display: none;">
    <div id="container"> 
      <div class="info"><h3>Type the following text. The countdown will begin as soon as you print the first letter.</h3></div>
      <div class="timer" id="timer">60</div>
      <div class="seconds">Seconds</div>
      <div id="text-div">
      </div>
    </div> 

    <div style="height: 0px; overflow: hidden">
      <input type="text" id="text_field" value="" autocorrect="off" autocapitalize="none" autocomplete="off" style="width: 100%; height: 0px;" autofocus />
    </div>
    <div id="refresh">
      <button class="btn btn-primary" id="restart-button">Restart</button>
    </div>
  </div>

  <div id="test-result" style="display: none;">
    <div class="info"><h3>Your Result</h3></div>
    <div class="test-results">
      <div class="result-item">
        <div class="results" id="words-min"></div>
        <div class="result-description">Words/min</div>
      </div>
      <div class="result-item">
        <div class="results" id="chars-min"></div>
        <div class="result-description">Chars/min</div>
      </div>
      <div class="result-item">
        <div class="results" id="accuracy"></div>
        <div class="result-description">Accuracy</div>
      </div>
    </div><br>
    <div id="save-result">
        <button class="btn btn-primary" id="save-button" style="margin-right: 10px;">Save Result</button>
        <button class="btn btn-primary" id="again-button">Try Again</button>
      </div>
  </div>

  <form>{% csrf_token %}</form>


{% endblock %}

{% block script %}
    <script src="{% static 'type_speed/custom.js' %}"></script>
{% endblock %}