{% extends "type_speed/layout.html" %}
{% load static %}

{% block body %}

    <div id="ranking">
        <ul class="list-group">
            <li class="list-group-item" style="padding: 15px;">
                <b><h2>Best {{ mode }} Scores</h2></b>
                {% if user.is_authenticated %}
                    {% if mode == 'Custom' %}
                        <a href="{% url 'filtered' mode='Standart' %}" class="btn btn-link" role="button">Standart</a>
                    {% elif mode == 'Standart' %}
                    <a href="{% url 'filtered' mode='Custom' %}" class="btn btn-link" role="button">Custom</a>
                    {% endif %}
                {% endif %}
            </li>
            {% for score in scores %}
                <li class="list-group-item">
                    <b>{{ start_rank|add:forloop.counter }}</b>
                    <div class="test-results">
                        <div id="username-div">
                            User: <b>{{score.user}}</b>
                        </div>
                        <div class="result-item">
                            <div class="results">{{ score.chars_min }}</div>
                            <div class="result-description">Chars/min</div>
                        </div>
                        <div class="result-item">
                        <div class="results">{{ score.words_min }}</div>
                        <div class="result-description">Words/min</div>
                        </div>
                        <div class="result-item">
                        <div class="results">{{ score.accuracy }}</div>
                        <div class="result-description">Accuracy</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            {% if scores.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ scores.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% if scres.paginator.num_pages > 1 %}
                <li class="page-item disabled"><a class="page-link" href="#">Page {{ scores.number }} of {{ scores.paginator.num_pages }}</a></li>
            {% endif %}
            {% if scores.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ scores.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>


{% endblock %}
